@mixin title-small{
  font-size: 15px;
  font-family: Roboto;
  color: #F2F2F2;
}
.blog-title {
  @include title-small;
}
.page-title {
  @include title-small;
}

@mixin title-big      {
  font-size: 15px;
  font-family: Roboto;
  color: #F2F2F2;
}
.blog-title        {
  @include title-big;
}
.page-title {
  @include title-big;
}