@mixin title-small {
  font-size: 15px;
  font-family: Roboto;
  color: #F2F2F2;
}

@mixin title-big($var) {
  font-size: $var;
  font-family: Roboto;
  color: #fc0000;
}
.blog-title {
  @include title-small;
  @include title-big(25px);
}
.page-title {
  @include title-small;
  @include title-big(15px);

}
